ul {
    list-style: none;
}

.taskIcon {
    display: inline;
}

.task-title {
    padding-top: 4px;
}
.task-checkbox {
    padding-top: 6px;
}
.toDoRow {
    margin-bottom: 4px;
}
.list-row {
    
    padding-bottom: 5px;
    padding-top: 2px;
    border-left: 3px solid #FEDC3D;
}

.toDoForm {
    width: 100%;
}







/* //////////////////////////////////////////////// */
/* //////////////////////////////////////////////// */
/* //////////////////////////////////////////////// */
/* //////////////////////////////////////////////// */
/* //////////////////////////////////////////////// */
/* //////////////////////////////////////////////// */

body {
    background-color: #CDCDCD;
}

#main-nav {
    background-color: #FEDC3D;
    color: #000000;
    font-family: 'Poiret One', cursive;
    
}

#message-badge {
    background-color: #01ABAA;
}

.fas, .far {
    color: #FEDC3D;
}

.main-nav-item {
    color: #000000;
}

.main-nav-btn {
    background-color: #01ABAA;
    color: #fff;
}

#navLogo {
    height: 60px;
    width: 60px;
}

#navTitle {
    color: #000000;
    font-size: 22pt;
    font-family: 'Righteous', cursive;
}


.test-area {
    border: 0.5px solid black;
    width: 100%;
    height: 200px;
}

/* ///////////////////////////////////////////////// */
#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container {
    min-height: 100vh;   
    background-color: #333;
    padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}
.sidebar-separator {
    background-color: #333;
    height: 25px;
}
.logo-separator {
    background-color: #333;    
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

/* font-family: 'Cabin', sans-serif;
font-family: 'Abel', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Poiret One', cursive; */