body {
    /* background-image: url("../assets/chameleon.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%; */
    overflow-x: scroll;
}

#main-nav {
    background-color: #FEDC3D;
    color: #000000;
    font-family: 'Poiret One', cursive;
    
}

#addNewJob {
    background-color: #FEDC3D;
    border: 0.5px solid black;
}

#message-badge {
    background-color: #01ABAA;
}

.container {
    margin-top: 40px;   
}

.card {
    background-color: rgba(0,0,0,0.5);
}

.card:hover {
    background-color: rgba(254,220,61,0.5)
}

.card-body {
    color: #fff;
}

.btn-link {
    color: #FEDC3D;
    text-decoration: none;
}
.btn-link:hover {
    color: black;
}

th {
    text-align: center;
}

#jobTarget {
    margin-top: 60px;
}

.navbar {
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
}



/* FLUTE STYLING ////////////////////////////////////////////*/
.bflute {
    background-color: #0600FF;
    color: #fff;
    text-align: center;
}

.eflute {
    background-color: #fff;
    color: #000;
    text-align: center;
}

.fflute {
    background-color: #ffff00;
    color: #000;
    text-align: center;
}

.newJob {
    background-color: #17A2B8;
}




.fas, .far {
    color: #FEDC3D;
}
/* NAVBAR STYLING /////////////////////////////////////////*/
.main-nav-item {
    color: #000000;
}

.main-nav-btn {
    background-color: #01ABAA;
    color: #fff;
}

#navLogo {
    height: 60px;
    width: 60px;
}

#navTitle {
    color: #000000;
    font-size: 22pt;
    font-family: 'Righteous', cursive;
}
/* NAVBAR STYLING /////////////////////////////////////////*/




